<server>

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>jpa-2.2</feature>
    <feature>jdbc-4.3</feature>
  </featureManager>

 <include optional="true" location="${server.config.dir}/PostgreSQLDS.xml"/>
<!-- <include optional="true" location="${server.config.dir}/MySQLDS.xml"/> -->

<!-- mysql -->
<!--
    <dataSource jndiName="jdbc/mysql-ds" 
                id="mysql-ds">
      <jdbcDriver libraryRef="MySQLLib"/>
      <properties databaseName="sampledb" 
                serverName="10.254.2.33" portNumber="3306" 
                user="user84U" password="wHbBsT4RwAuNfvhr"/>
    </dataSource>
-->
<!-- mysql nontx ds -->
<!--
    <dataSource jndiName="jdbc/mysql-ds-nontx"
                transactional="false" 
                id="mysql-ds-nontx">
      <jdbcDriver libraryRef="MySQLLib"/>
      <properties databaseName="sampledb"
                serverName="10.254.2.33" portNumber="3306"
                user="user84U" password="wHbBsT4RwAuNfvhr"/>
    </dataSource>
    <library id="MySQLLib">
      <fileset dir="${shared.resource.dir}" includes="m*.jar"/>
    </library>
-->
<!-- postgresql -->
<!--
    <dataSource id="DefaultDataSource"
                jndiName="jdbc/postgresql-ds"
                jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="true">
        <properties serverName="10.254.9.191"
                    portNumber="5432"
                    databaseName="sampledb"
                    user="tester"
                    password="tester"/>
    </dataSource>

    <jdbcDriver id="postgresql-driver"
                libraryRef="postgresqlLib"
                javax.sql.XADataSource="org.postgresql.xa.PGXADataSource"
                javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
                javax.sql.DataSource="org.postgresql.ds.PGPoolingDataSource"/>
-->
<!-- non-tx postgresql ds, needed for table create -->
<!--
    <dataSource id="postgresqlDataSourceNonTx"
                jndiName="jdbc/postgresql-ds-nontx"
                jdbcDriverRef="postgresql-driver"
                type="javax.sql.ConnectionPoolDataSource"
                transactional="false">
        <properties serverName="10.254.9.191"
                    portNumber="5432"
                    databaseName="sampledb"
                    user="tester"
                    password="tester"/>
    </dataSource>

    <library id="postgresqlLib">
      <fileset dir="${shared.resource.dir}" includes="p*.jar"/>
    </library>
-->
</server>
