<server description="Liberty server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>mpMetrics-2.3</feature>
        <feature>mpHealth-2.2</feature>
        <feature>mpConfig-1.4</feature>
    </featureManager>
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
    <keyStore id="defaultKeyStore" location="key.jks" type="jks" password="mpKeystore"/>
    <httpEndpoint host="*" httpPort="${DEFAULT_HTTP_PORT}"
        httpsPort="${DEFAULT_HTTPS_PORT}" id="defaultHttpEndpoint"/>

    <httpDispatcher enableWelcomePage="false" />
   
</server>
